<table>
  <tr>
    <th>Registrtion Number</th>
    <th>Brand</th>
    <th>seats</th>
  </tr>
  <% @vehicles.each do |vehicle| %>
    <tr>
      <td><%= vehicle.reg_number %></td>
      <td><%= vehicle.brand %></td>
      <td><%= vehicle.seats %></td>
    </tr>
  <% end %>
</table>
